<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>#{title}</title>
    style 
        include ../static/style.css
  </head>
</html>
<body>
  <nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="">class</a></li>
      <li><a href="">time</a></li>
      <li><a href="/contact">conatct us</a></li>
    </ul>
  </nav>

  <div id="form">
    <h1>Registration Form</h1>
    <form action="" method="post">
      <input type="text" name="name" id="name" placeholder="enter name:--" />
      <input type="number" name="no" id="no" placeholder="enter no:--" />
      <input type="email" name="mail" id="mail" placeholder="enter mail:--" />
      <textarea name="more" id="more" cols="30" rows="10"></textarea>
      <input type="submit" value="submit"  />
    </form>
  </div>

  <footer>
    <h1>krishna dance&copy;</h1>
  </footer>
</body>
