<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>#{title}</title>
    style 
        include ../static/style.css
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/class">class</a></li>
        <li><a href="/time">time</a></li>
        <li><a href="/contact">conatct us</a></li>
      </ul>
    </nav>

    <section id="poster">
      <h1>welcome to krishna nrutya</h1>
      <h2>dance is emotion</h2>
    </section>

    <section id="cards">
      <h1>our mission</h1>
      <div id="container">
        <div class="card card1">
          <img src="card1.jpg" alt="" />
        </div>
        <div class="card card2">
          <img src="card2.jpg" alt="" />
        </div>
        <div class="card card3">
          <img src="card3.jpg" alt="" />
        </div>
      </div>
    </section>

    <section id="spon">
        <h1>Our sponser</h1>
        <div id="sponser">
            <img src="microsoft.jpg" alt="">
            <img src="twitter.jpg" alt="">
            <img src="google.jpg" alt="">
            
        </div>
    </section>
    <footer>
        <h1>krishna dance&copy;</h1>
    </footer>
  </body>
</html>
