<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>#{title}</title>
    style 
      include ../static/style.css
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/class">class</a></li>
        <li><a href="/time">time</a></li>
        <li><a href="/contact">conatct us</a></li>
      </ul>
    </nav>

    <section id="poster">
      <h1>welcome to krishna nrutya</h1>
      <h2>dance is emotion</h2>
    </section>

    <div id="extra">
      <h1>welcome to time page..!!</h1>
    </div>
    <footer>
      <h1>krishna dance&copy;</h1>
    </footer>
  </body>
</html>
